{% load static %}
{% include 'component/head.html' %}


<body>
    <div class="wrapper">
        <!-- Header Start -->
        {% include 'component/header.html' %}
        <!-- Header End-->
        <!-- Content Start-->
        <div class="title-block-outer">
            <img src="{% static 'images/inner-banner.jpg' %}" alt="Banner-image" class="img-responsive">
            <div class="title-block-container">
                <div class="container">
                    <h2>Register</h2>
                </div>
            </div>
        </div>
        <div class="breadcrumb-panel">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="index.html" title="Home">Home</a></li>
                    <li class="active">Register</li>
                </ol>
            </div>
        </div>
        <section class="content register">
            <div class="container">

                <h2>New Customers</h2>
                <p>
                    By creating an account with our store, you will be able to move through the checkout process faster,
                    store multiple shipping addresses, view and track your orders in your account and more.
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-block" method="POST">{% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control" placeholder="Please enter yor username"
                                            name="username">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" placeholder="Please enter valid email"
                                            name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group validation-error">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control"
                                            placeholder="Please enter your Password"
                                            data-placeholder="Enter your Password" name="pass1">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group validation-error">
                                        <label class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control"
                                            placeholder="Please enter your Password"
                                            data-placeholder="Enter your Password" name="pass2">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">First Name</label>
                                        <input type="text" class="form-control"
                                            placeholder="Please enter yor first name" name="Firstname">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" class="form-control" placeholder="Please enter yor last name"
                                            name="Lastname">
                                    </div>
                                </div>
                            </div>

                            <div class="bottom-group ">
                                <div class=" row">
                                    <div class="term-condition col-sm-6">
                                        <div class="checkbox">
                                            <label class="chklbl"><input type="checkbox" value="">&nbsp;&nbsp;I Agree
                                                with <a href="#">Terms &amp; Conditions.</a></label>
                                        </div>
                                    </div>

                                    <div class=" reg-submit col-sm-6 text-right">

                                        <div class="form-group clearfix submit-outer">
                                            <button type="submit" class="btn-secondary">Submit</button>
                                            <button type="button" class="btn-tertiary">Clear</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </section>
        <!-- Content End-->
        <!-- Footer Start -->
        <!-- Footer Start -->
        {% include 'component/footer.html' %}
        <!-- Footer End -->

    </div>
</body>

</html>